<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="selectionStrategy" name="UI Selection Strategy" schema="schema/selectionStrategy.exsd"/>
   <extension-point id="classResolver" name="Class Resolver" schema="schema/classResolver.exsd"/>
   <extension-point id="runtimeFactory" name="Runtime Factory" schema="schema/runtimeFactory.exsd"/>
</plugin>
