<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.windowtester.server.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.windowtester.server.ui.Perspective"
            id="com.windowtester.server.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="com.windowtester.server.ui.View"
            id="com.windowtester.server.ui.view">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.windowtester.server.ui.application"
            name="WindowTester Server">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         id="WindowTester_Server_UI"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.windowtester.server.ui.application"
            name="WindowTester Server">
         <property
               name="appName"
               value="WindowTester Server">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
